<%- include("../partials/header.ejs") %> 
<div class="container">
    <div class="jumbotron">
        <h1>This is the Animals page.</h1>
        <a href="/add" class="btn btn-primary">Add an Animal</a>
    </div>
</div>

<%- include("../partials/footer.ejs") %> 