<%- include("../partials/header"); %>
<h1>Welcome Home!</h1>
<h2>You have landed!</h2>
<p>See some<a href="/comments">comments</a>.</p>
<p>
    After Your Successful landing, this paragraph 
    will tell you about something. Cheers.
</p>

<%- include("../partials/footer"); %>
